<div class="header">
  <div class="container">
    <div class="navbar">
      <div class="logo">
        <img src="assets/img/logo.png" alt="PCStore" width="100px">
      </div>
      <nav>
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/catalog">Catalog</a></li>
          <li><a routerLink="/signin">Login</a></li>
          <li><a routerLink="/login">Register</a></li>
          <li class="cart"><a routerLink="/cart"><img class="carting" src="assets/img/bin.png" width="25px" height="25px" alt="cart"></a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
