<div class="footer">
  <div class="container">
    <div class="row">
         <div class="footer-col-1">
           <h3>Download our App</h3>
           <p>Download our App on Play Market and AppStore</p>
           <div class="app-logo">
             <img src="assets/img/bi.png" alt="Play Market and AppStore" width="280px">
           </div>
         </div>
      <div class="footer-col-2">
        <img src="assets/img/logo.png" alt="PCStore">
        <p>Our Purpose To Sustainably Make the Pleasure and<br>
        Benefits of Hi-Tech to Many!</p>
      </div>
      <div class="footer-col-3">
        <h3>Send us message</h3>
        <form method="post">
          <textarea class="message" #food name="message"></textarea>
          <input class="email" (click)="sendMessage(food)" type="Submit" >
        </form>
      </div>
    </div>
    <hr>
    <p class="copyright">Copyright 2021 - Orange Republic</p>
  </div>
</div>
