.container{
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer{
  background-color: rgb(75, 123, 205);
  color: white;
  font-size: 14px;
  padding: 60px 0 20px;
}

.footer p{
  color: white;
}

.footer h3{
  color: white;
  margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3{
  min-width: 250px;
  margin-bottom: 20px;
}

.footer-col-1{
  flex-basis: 30%;
}

.footer-col-2{
  flex: 1;
  text-align: center;
}

.footer-col-2 img{
  width: 100px;
  margin-bottom: 20px;
}

.footer-col-3{
  flex-basis: 12%;
  text-align: center;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: white;
}

.app-logo{
  margin-top: 20px;
}

a.app-logo img{
  width: 140px;
}

.footer hr{
  border: none;
  background: white;
  height: 1px;
  margin: 20px 0;
}

.copyright{
  text-align: center;
}

.footer{
  border: solid black 1px;
}

.email{

  display: inline-block;
  background: #ff523b;
  color: white;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px ;
  transition: background 0.5s;
}

.btn:hover{
  background: #563434;
}

.message{
  border-radius: 5px;
  border: solid 1px lightgrey;
  resize: none;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;


}
