.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.small-container{
  padding-top: 50px;
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.col-4{
  padding-top: 15px;
  flex-basis: 23%;
  padding-left: 25px;
  padding-right: 25px;
  min-width: 200px;
  margin-bottom: 50px;
  border: solid 1px lightgrey;
  border-radius: 5px;
  background-color: #f1f1f1;
  transition: transform 0.5s;
  min-height: 400px;
}

.title{
  text-align: center;
  margin: 50px auto 50px;
  position: relative;
  line-height: 60px;
  color: black;
}

.title:after{
  content: '';
  background: #ff523b;
  width: 100px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}


.col4:hover{
  transform: translateY(-5px);
}

.alert.alert-info{
  padding-top: 50px;
  text-align: center;
  padding-bottom: 50px;
}

