<div class="categories">
  <div class="small-container">
    <div class="row">
      <div class="col-3">
        <a class="btn" routerLink="/catalog/gpu"><img src="assets/img/catalog/gpu.png" alt="gpu" width="200px"><p>GPUs</p></a>
      </div>
      <div class="col-3">
        <a class="btn" routerLink="/catalog/cpu"><img src="assets/img/catalog/cpu.png" alt="cpu" width="200px"><p>CPUs</p></a>
      </div>
      <div class="col-3">
        <a class="btn" routerLink="/catalog/mboard"><img src="assets/img/catalog/mboard.png" alt="ram" width="200px"><p>Mother Boards</p></a>
      </div>
      <div class="col-3">
        <a class="btn" routerLink="/catalog/power"><img src="assets/img/catalog/power.png" alt="power" width="200px"><p>Power Blocks</p></a>
      </div>
      <div class="col-3">
        <a class="btn" routerLink="/catalog/cooling"><img src="assets/img/catalog/cooling.png" alt="cooling" width="200px"><p>Cooling Systems</p></a>
      </div>
      <div class="col-3">
        <a class="btn" routerLink="/catalog/ram"><img src="assets/img/catalog/ram.png" alt="ram" width="200px"><p>RAMs</p></a>
      </div>
      <div class="col-3">
        <a class="btn" routerLink="/catalog/drive"><img src="assets/img/catalog/drive.png" alt="ram" width="200px"><p>Hard Drives</p></a>
      </div>
      <div class="col-3">
        <a class="btn" routerLink="/catalog/case"><img src="assets/img/catalog/case.png" alt="power" width="200px"><p>PC Cases</p></a>
      </div>
      <div class="col-3">
        <a class="btn" routerLink="/catalog/staff"><img src="assets/img/catalog/staff.png" alt="cooling" width="200px"><p>PC Staff</p></a>
      </div>
    </div>
  </div>
</div>
