<div class="header">
  <div class="container">
    <div class="navbar">
    <div class="row">
      <div class="col2">
        <h1>Buy hardware<br> For a bargain price!</h1>
        <p class="slogan">
          PCStore - it is the guarantee of the optimal price/quality ratio.<br>
          We sell only proper hardware, our dealers are official distributors in the region.
        </p>
        <a routerLink="/catalog" class="btn">Explore Now &#8594;</a>
      </div>
      <div class="col2">
        <img src="assets/img/gamepc.png" alt="gaming pc">
      </div>
    </div>
  </div>
</div>
</div>

<div class="testimonial">
  <div class="small-container">
    <div class="row">
      <div class="col-3">
        <i class="fa fa-quote-left" aria-hidden="true"></i>
        <p>God, how does this work?!</p>
        <div class="rating">
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star-o" aria-hidden="true"></i>
        </div>
        <img src="assets/img/users/rf.png" alt="mr Robinson">
        <h3>mr Robinson</h3>
      </div>
      <div class="col-3">
        <i class="fa fa-quote-left" aria-hidden="true"></i>
        <p>We wants it. We needs it. Must have the precious.<br>
        My precious!</p>
        <div class="rating">
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
        </div>
        <img src="assets/img/users/gf.png" alt="Smeagol Gollum">
        <h3>Smeagol Gollum</h3>
      </div>
      <div class="col-3">
        <i class="fa fa-quote-left" aria-hidden="true"></i>
        <p> Ah, nigga, don't hate me 'cause I'm beautiful, ni**a.<br>
          Maybe if you got rid of that old yee-yee a** haircut you got,<br>
          you'd get some bi**hes on your di*k.</p>
        <div class="rating">
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star-o" aria-hidden="true"></i>
          <i class="fa fa-star-o" aria-hidden="true"></i>
          <i class="fa fa-star-o" aria-hidden="true"></i>
        </div>
        <img src="assets/img/users/lf.png" alt="Lamar Davis">
        <h3>Lamar Davis</h3>
      </div>
    </div>
  </div>
</div>


<div class="brands">
  <h2 class="title">Our official dealers</h2>
  <div class="small-container1">
    <div class="row">
      <div class="col-5">
        <img src="assets/img/brands/microsoft.png" alt="microsoft" height="50px">
      </div>
      <div class="col-5">
        <img src="assets/img/brands/apple.png" alt="apple" width="100px">
      </div>
      <div class="col-5">
        <img src="assets/img/brands/asus.png" alt="asus" width="150px">
      </div>
      <div class="col-5">
        <img src="assets/img/brands/msi.png" alt="msi" width="300px">
      </div>
      <div class="col-5">
        <img src="assets/img/brands/nvidia.png" alt="nvidia" height="100px">
      </div>
    </div>
  </div>
</div>
